:root {
  --vp-c-brand: var(--vp-c-brand-color);
  --vp-c-brand-light: var(--vp-c-brand-light-color);
  --vp-c-brand-lighter: var(--vp-c-brand-lighter-color);
  --vp-c-brand-lightest: var(--vp-c-brand-lightest-color);
  --vp-c-brand-dark: var(--vp-c-brand-dark-color);
  --vp-c-brand-darker: var(--vp-c-brand-darker-color);
  --vp-c-brand-dimm: var(--vp-c-brand-dimm-color);
  --webkit-linear-gradient-color-2: var(webkit-linear-gradient-color-2);
  --webkit-linear-gradient-color-3: var(webkit-linear-gradient-color-3);
  --linear-gradient-color-2: var(linear-gradient-color-2);
  --linear-gradient-color-3: var(linear-gradient-color-3);
  animation-name: color-transition;
  animation-duration: 1s;
}

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--webkit-linear-gradient-color-2), var(--webkit-linear-gradient-color-3));
  --vp-home-hero-image-background-image: linear-gradient(-45deg, var(--linear-gradient-color-2), var(--linear-gradient-color-3));
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

@keyframes color-transition {
  from {
    background-color: var(--vp-c-brand);
  }
  to {
    background-color: var(--vp-c-brand);
  }
}

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

